:root {
	--deep-color: #000022;
	--shallow-color: white;
	--bg-color: #eaeaea;

	--project-width: 490px;
}

html {
	margin: 0;
}

body {
	width: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: var(--deep-color);
	background-color: var(--bg-color);
}

.content {
	margin: auto;
	width: 1000px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.header {
	background-color: var(--shallow-color);
	height: 130px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5 23 0 23; 
}

.title {
	float: left;
}

.name {
	font-size: 50px;
	padding-left: 30px;
	padding-top: 33px;
}

.logos {
	float: right;
	padding: 30px;
	padding-top: 42px;
}

.logos img {
	width: 40px;
	margin-left: 4px;
}

.logos a {
	text-decoration: none;
}

#about {
	color: var(--deep-color);
	background-color: var(--shallow-color);
	padding: 60px;
	padding-top: 20px;
	padding-bottom: 40px;
	font-size: 18px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#about a {
	color: var(--deep-color);
}

#about p {
	margin: 0px;
	margin-bottom: 8px;
}

.projectContainer .column {
	float: left;
}

.projectContainer .leftColumn {
	margin-right: 20px;
}

.projectContainer::after {
	content:'';
	display: block;
	clear: both;
}

.project {
	position: relative;
	width: var(--project-width);
	font-size: 18px;
	background-color: var(--shallow-color);
	margin-top: 20px;
	color: white;
}

.project .image img {
	border-radius: 5px;
	width: 100%;
}

.project .text {
	position: absolute;
	width: 100%;
	top: 0px;
	background: rgba(0,0,255,.6);
	height: 100%;
	display: none;
	border-radius: 5px;
}

.project .text div {
	padding: 15px;
	padding-bottom: 10px;
}

.project:hover .text {
	display: block;
}

.project .title {
	font-weight: 400;
}

.project iframe {	
	border-radius: 5px;
}

.project .videoBox {
}

.project video {
	width: 100%;
	border-radius: 5px;
}

.project .playButton {
	position: absolute;
	margin: 0px;
	margin-top: -265px;
	margin-left: 200px;
	padding: 0px;
	width: 60px;
}

.project .playButton img {
	margin: 0px;
	width: 100%;
}

.project a {
	color: white;
}

.project div {
	clear: both;
}

#footer {
	margin-bottom: 100px;
}