html {
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    background-color: #333;

    font-family: 'Montserrat', sans-serif;
}

.content {
    margin: auto;
    width: 800px;
    margin-top: 50px;
    background-color: white;

    box-shadow: 4px 4px 4px #222;
}

.title {
    float: left;
}

.name {
    font-size: 50px;
    font-weight: 500;
    padding-left: 30px;
    padding-top: 30px;
}

.desc {
    font-size: 17px;
    font-weight: 300;
    margin-top: -3px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.logos {
    float: right;
    padding: 30px;
    padding-top: 42px;
}

.logos img {
    width: 40px;
    margin-left: 4px;
}

.logos a {
    text-decoration: none;
    color: black;
}